/* .btn{
    width:30%;
    background-color: rgb(18, 18, 127);
    color:white;
} */
.login{
    width:100px;
    background-color: rgb(116, 180, 180);
    color: blue;
}
.confirm{
    width:100px;
    background-color: rgb(255, 29, 127);
    color: rgb(102, 16, 16);
}
.delete{
    width:100px;
    background-color: rgb(147, 0, 0);
    color: rgb(5, 5, 33);
}