.b{
    height: 100px;
    width: 500px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-size: 70px;
}
.l{
    height: 70px;
    width: 500px;
    background-color: rgb(229, 228, 174);
    
    border:2px solid rgb(159, 159, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}